.justify-content-center{
     display: flex;
     justify-content: center;
 }
.photos img{
    width: 100%;
    border-bottom: 1px solid #cccccc;
}
.issue .footer{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    border-top: 1px solid #cccccc;
}
.issue .status{
     padding: 5px 10px;
    margin-left: 10px;
     font-size: 16px;
 }
.desc{
    margin: 10px;
    font-family: "Calibri", serif;
    font-size: 18px;
}
