.justify-content-center{
     display: flex;
     justify-content: center;
 }
.photos img{
    width: 100%;
}
.issue .footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.issue .status{
     padding: 5px 10px;
    margin-left: 10px;
     font-size: 16px;
 }
.desc{
    margin: 10px;
    font-family: "Calibri", serif;
    font-size: 18px;
}